.ItemDetailCard {
  background-color: rgb(255, 221, 221);
  border-radius: 15px;
  margin: 20px;
  text-align: center;
  width: 20%;
}
.txtDetailCard img {
  height: 5%;
  width: 75%;
}
.btnBuy {
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  background-color: #680000;
  color: white;
  text-decoration: none;
}
