@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

.itemCountain {
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card {
  background-color: #ffdddd;
  border-radius: 20px;
}
.tituloCard,
.btnCard {
  font-family: "Prompt", sans-serif;
}
.priceCard {
  font-family: "Bebas Neue", cursive;
}
.btnCard {
  background-color: #680000;
  border-radius: 15px 15px 15px 15px;
  color: white;
  width: 100%;
}
.btnCard:hover {
  background-color: white;
  color: #680000;
}
