.nav {
    display: flex;
    justify-content: start;
    background-color: rgb(167, 55, 14);
}

.nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color:black
}

.navList {
    list-style-type: none;
    
    background-color: rgb(167, 55, 14);
    color: white;
}

.logo {
    display: flex;
    justify-content: start;
    margin-right: 200px;
}