.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(205, 16, 19, 0.886);
  width: 100%;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav a:hover {
  color: black;
}
.logoContainer {
  height: auto;
  width: 10%;
}
.logoImg {
  margin: 16px;
  height: 75%;
  width: 75%;
}
.navLinks {
  width: 60%;
  display: flex;
  justify-content: center;
}

.cartWidget {
  width: 20%;
  padding-top: 2%;
  text-align: center;
}
.navList {
  display: flex;
  width: 80%;
  justify-content: space-around;
  list-style-type: none;
}
.navList li {
  margin-top: 4%;
  font-size: 200%;
}
