@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

.CartItemsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 100vh; */
}
.totalContainer {
  background-color: #ffdddd;
  padding: 5px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Prompt", sans-serif;
  letter-spacing: 2px;
}
.cartFinishcontainer {
  text-align: center;
}
.finishPriceCart {
  text-align: center;
  font-size: 30px;
}
.notProductCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  font-family: "Prompt", sans-serif;
  background-color: #ffdddd;
  border-radius: 20px;
}
.btnFinish {
  color: white;
}

.notProductCardContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
