.itemCount {
  border-radius: 0px 0px 15px 15px;
  background-color: #de8787;
  display: grid;
  grid-template-areas:
    "btnLess counter btnMore"
    "btnAdd btnAdd btnAdd";
}

.btnLess,
.btnMore {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-left: 20px;
  background-color: #680000;
  color: white;
  border-radius: 50%;
}
.btnLess {
  grid-area: btnLess;
}
.btnMore {
  grid-area: btnMore;
}

.counter {
  margin-left: 25px;
  text-align: center;
  width: 40px;
  grid-area: counter;
}

.btnAdd {
  grid-area: btnAdd;
  width: auto;
  background-color: #680000;
  color: white;
  border-radius: 0px 0px 15px 15px;
}
