@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

.itemCount {
  border-radius: 15px 15px 15px 15px;
  background-color: #de8787;
  margin-bottom: 10px;
}
.countHandlers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnLess,
.btnMore {
  height: 30px;
  width: 30px;
  margin: 20px;
  background-color: #680000;
  color: white;
  border-radius: 50%;
  font-family: "Prompt", sans-serif;
}
.counter {
  text-align: center;
  width: 40px;
  font-family: "Prompt", sans-serif;
}
.btnAdd {
  width: 100%;
  background-color: #680000;
  color: white;
  border-radius: 0px 0px 15px 15px;
  font-family: "Prompt", sans-serif;
}
.btnAdd:hover,
.btnMore:hover,
.btnLess:hover {
  background-color: white;
  color: #680000;
}
